.buttonformat {
  height: 10%;
  width: 25%;
  background-color: #912828;
  border: none; }
  .buttonformat:hover {
    height: 20%;
    width: 30%;
    background-color: #470981; }

.buttonformat2 {
  background-color: #912828;
  border: none; }
  .buttonformat2:hover {
    background-color: #470981; }

.contenedor figure {
  position: relative;
  cursor: pointer;
  overflow: hidden; }

.contenedor figure img {
  width: 100%;
  height: 100%;
  transition: all 400ms ease-out;
  will-change: transform; }

.contenedor figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(104, 108, 109, 0.7);
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  align-self: center; }

.contenedor figure:hover > .capa {
  opacity: 1;
  visibility: visible; }

.contenedor figure:hover > .capa h2 {
  margin-top: 70px;
  margin-bottom: 15px; }

.contenedor figure:hover > img {
  transform: scale(1.3); }

.contenedor figure .capa h2 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 400ms ease-out;
  margin-top: 30px; }

.contenedor figure .capa p {
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto; }
